{% extends "base.html" %}
<!-- Спадкування від базового шаблону -->

{% block head %}
<title>Calc home</title>
{% endblock %}

{% block content %}
<!-- Вміст головної сторінки -->

<h1>Доброго дня! Що робитимемо сьогодні?</h1>

<!-- Карточка для практики №1 -->
<div class="card mb-4" id="prac-1">
    <div class="card-body">
        <h2 class="card-title">Практика №1</h2>
        <ul class="list-group d-inline-flex">
            <!-- Завдання №1 -->
            <li class="list-group-item">
                <a href="{{url_for('prac_1_task_1')}}" class="btn btn-lg btn-primary m-2">Завдання №1</a>
                <!-- Тултип для пояснення завдання -->
                <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                   data-bs-title="Розрахунок складу сухої та горючої маси палива та нижчої теплоти згоряння для робочої,
                    сухої та горючої маси за заданим складом компонентів палива"></i>
            </li>

            <!-- Завдання №2 -->
            <li class="list-group-item">
                <a href="{{url_for('prac_1_task_2')}}" class="btn btn-lg btn-primary m-2">Завдання №2</a>
                <!-- Тултип для пояснення завдання -->
                <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                   data-bs-title="Перерахунок елементарного складу та нижчої теплоти згоряння мазуту
                   на робочу масу для складу горючої маси мазуту"></i>
            </li>
        </ul>
    </div>
</div>

<!-- Карточка для практики №2 -->
<div class="card mb-4" id="prac-2">
    <div class="card-body">
        <h2 class="card-title">Практика №2</h2>
        <ul class="list-group d-inline-flex">
            <!-- Завдання №1 -->
            <li class="list-group-item">
                <a href="{{url_for('prac_2_task_1')}}" class="btn btn-lg btn-primary m-2">Завдання №1</a>
                <!-- Тултип для пояснення завдання -->
                <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                   data-bs-title="Розрахунок валових викидів шкідливих речовин у вигляді суспендованих
                   твердих частинок при спалювання вугілля, мазуту та природного газу"></i>
            </li>
        </ul>
    </div>
</div>

<!-- Карточка для практики №3 -->
<div class="card mb-4" id="prac-3">
    <div class="card-body">
        <h2 class="card-title">Практика №3</h2>
        <ul class="list-group d-inline-flex">
            <!-- Завдання №1 -->
            <li class="list-group-item">
                <a href="{{url_for('prac_3_task_1')}}" class="btn btn-lg btn-primary m-2">Завдання №1</a>
                <!-- Тултип для пояснення завдання -->
                <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                   data-bs-title="Розрахунок електричних навантажень об’єктів з використанням методу впорядкованих діаграм"></i>
            </li>
        </ul>
    </div>
</div>

<!-- Карточка для практики №4 -->
<div class="card mb-4" id="prac-4">
    <div class="card-body">
        <h2 class="card-title">Практика №4</h2>
        <ul class="list-group d-inline-flex">
            <!-- Завдання №1 -->
            <li class="list-group-item">
                <a href="{{url_for('prac_4_task_1')}}" class="btn btn-lg btn-primary m-2">Завдання №1</a>
                <!-- Тултип для пояснення завдання -->
                <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                   data-bs-title="Розрахунок струму трифазного КЗ, струму однофазного КЗ, та перевірка на термічну та динамічну стійкість у складі"></i>
            </li>
        </ul>
    </div>
</div>

<!-- Карточка для практики №5 -->
<div class="card mb-4" id="prac-5">
    <div class="card-body">
        <h2 class="card-title">Практика №5</h2>
        <ul class="list-group d-inline-flex">
            <!-- Завдання №1 -->
            <li class="list-group-item">
                <a href="{{url_for('prac_5_task_1')}}" class="btn btn-lg btn-primary m-2">Завдання №1</a>
                <!-- Тултип для пояснення завдання -->
                <i class="fa-solid fa-question" data-bs-toggle="tooltip"
                   data-bs-title="Порівняння надійності одноколової та двоколової систем електропередачі та розрахунку
                   збитків від перерв електропостачання у разі застосування однотрансформаторної ГТП"></i>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
