{% extends "base.html" %}
<!-- Спадкування від базового шаблону -->

{% block head %}
<title>Task 1</title>
{% endblock %}

{% block content %}
<!-- Вміст головної сторінки -->

<div class="pt-5 text-center">
    <h1>Вітаємо у веб калькуляторі!</h1>
    <h4>Цей калькулятор здатен: порівнювати надійності одноколової та двоколової систем електропередачі та розраховувати
        збитки від перерв електропостачання у разі застосування однотрансформаторної ГТП.</h4>

    <!-- Створення форми для введення даних -->
    <form class="mt-5" method="post">
        <h1>Введіть дані:</h1>
        <h3>Для одноколової системи:</h3>

        <!-- Введення даних для кожного вхідного значення -->
        <div class="input-container mx-auto" style="max-width: 40rem;">
            <div id="dynamic-inputs">
                <!-- Приклад нового поля, що буде створено при натискані кнопки для додавання елементу ЕПС -->
                <!--            <div class="input-group input-group-sm mt-3 mb-3">-->
                <!--                <label class="input-group-text fs-4 me-2">Кількість, елемент</label>-->
                <!--                <input type="number" name="quantity[]" value="1" min="1" step="1" class="form-control" required>-->
                <!--                <select name="element[]" class="form-select" required>-->
                <!--                    <option value="">Оберіть елемент</option>-->
                <!--                </select>-->
                                    <!-- Кнопка видалення елементу -->
                <!--                <i class="fa-solid fa-delete-left fa-2xl ms-4 mt-4" style="color: #d41616;"></i>-->
                <!--            </div>-->
            </div>
            <!-- Кнопка для додавання елементу ЕПС -->
            <i class="fa-solid fa-plus fa-2xl mt-3 mb-3" style="color: #74C0FC;"></i>

            <h3>Двоколова система складається з двох ідентичних одноколових і секційного вимикача 10 кВ </h3>

            <!-- Поле для введення даних -->
            <div class="input-group mt-3 mb-3">
                <label class="input-group-text fs-4 me-2">З<sub>пер.а</sub>, грн./кВт⋅год</label>
                <input type="text" name="Zpera" class="form-control" placeholder="Введіть значення..." aria-label="Hp"
                       value="23.6"
                       required>
            </div>

            <!-- Поле для введення даних -->
            <div class="input-group mt-3 mb-3">
                <label class="input-group-text fs-4 me-2">З<sub>пер.п</sub>, грн./кВт⋅год</label>
                <input type="text" name="Zperp" class="form-control" placeholder="Введіть значення..." aria-label="Hp"
                       value="17.6"
                       required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-lg btn-success mt-3" disabled>Розрахувати!</button>
    </form>

    <!-- Виведення результатів, якщо користувач надіслав дані за допомогою форми -->
    {% if results %}
    <h1>Результати:</h1>
    <span class="d-block fs-4">1.1 Частота відмов одноколової системи: ω‎<sub>oc</sub>=
        {{ results.get("woc") }} рік<sup>-1</sup>.</span>
    <span class="d-block fs-4">1.2 Частота відмов двоколової системи: ω‎<sub>дc</sub>=
        {{ results.get("wdc") }} рік<sup>-1</sup>.</span>
    {% if results.get("koef") > 1 %}
    <span class="d-block fs-4">1.3 Надійність двоколової системи електропередачі є значно вищою ніж одноколової.</span>
    {% else %}
    <span class="d-block fs-4">1.3 Надійність одноколової системи електропередачі є значно вищою ніж двоколової.</span>
    {% endif %}
    <span class="d-block fs-4">2. Математичне сподівання збитків від переривання електропостачання:
        M(З<sub>пер</sub>)={{ results.get("M") }}.</span>
    {% endif %}
</div>

<!-- Підвантажуємо скрипт для динамічного додавання елементів ЕПС -->
<script src="{{url_for('static', filename='js/prac_5.js')}}"></script>
{% endblock %}